body {
	--bases-charts-text: var(--text-normal);
	--bases-charts-muted: var(--color-base-60);
	--bases-charts-grid: var(--color-base-30);
	--bases-charts-accent: var(--color-accent);
}

.bases-charts-plot {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	.plot-header {
		margin: 0;
	}
}
