body {
	--bases-charts-text: var(--text-normal);
	--bases-charts-grid: var(--background-modifier-border);
	--bases-charts-grid-hover: var(--background-modifier-border);
	--bases-charts-accent: var(--color-accent);
	--bases-charts-min-width: 350px;
	--bases-charts-min-height: 350px;
}

.bases-charts-plot {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	.plot-header {
		margin: 0;
	}
}
